.App {
  margin: 30px auto;
}

header {
  text-align: center;
  font-size: 64px;
  font-weight: bolder;
  color: #ed8233;
  font-family: "Sansita Swashed", cursive;
  text-shadow: 5px 10px #fefefe;
}

.App footer {
  font-size: 15px;
  text-align: center;
  color: grey;
  display: block;
}
