.BooksLogo {
  margin: auto;
  display: block;
  width: 200px;
  height: 200px;
}

header {
  text-align: center;
  font-size: 64px;
  font-weight: bold;
  color: #3e200f;
  font-family: "Sansita Swashed", cursive;
  text-shadow: 5px 10px #f3945b;
}

.App footer {
  font-size: 15px;
  text-align: center;
  color: white;
  display: block;
  margin-bottom: 30px;
}

.App {
  padding: 10px;
  background: no-repeat;
  background-image: url(./updatedBackground.jpg);
  background-size: cover;
}
