.Dictionary {
  margin: 30px;
}

form {
  text-align: center;
}

.searchEngine {
  border: 2px solid #785e4d;
  border-radius: 15px;
  padding: 10px;
  width: 500px;
  font-family: "Sansita Swashed", cursive;
}
