h3 {
  font: italic;
  font-weight: 700;
  margin: 20px;
  font-size: 30px;
  color: grey;
  font-family: "Sansita Swashed", cursive;
}

.Definition {
  font-size: 18px;
  margin: 20px;
  font-family: "Urbanist", sans-serif;
}

.Example {
  font-size: 15px;
  color: rgb(70, 69, 69);
  text-decoration: underline;
}
