.PhoneticComponent a {
  color: grey;
  padding: 7px;
  text-decoration: none;
  border: 2px solid #da9f29;
  background-color: honeydew;
  border-radius: 20px;
  transition: all 120ms ease-in-out;
}

.PhoneticComponent a:hover {
  background-color: #da9f29;
  color: white;
}
.PhoneticComponent {
  padding: 15px;
  font-family: "Urbanist", sans-serif;
}
.PhoneticsText {
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  color: grey;
}
