h2 {
  text-transform: capitalize;
  font-size: 25px;
  margin-left: 20px;
  font-family: "Sansita Swashed", cursive;
}

.Dictionary section {
  display: block;
  margin: auto;
  margin-bottom: 25px;
  max-width: 900px;
  background-color: rgba(226, 215, 188, 0.5);
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0px 12px 18px rgba(121, 53, 3, 0.5);
  transition: 150ms ease-in-out;
}

.Dictionary section:hover {
  background-color: rgba(226, 215, 188, 0.9);
  box-shadow: 0px 25px 29px rgba(228, 140, 74, 0.5);
}
