ul {
  list-style: none;
  color: rgb(75, 74, 74);
}
li {
  display: inline-block;
  padding: 7px ;
  margin: 5px;
  text-transform: capitalize;
  font-style: italic;
  border: 2px solid white;
  border-radius: 20px;
}
